<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 海马APP后台管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")   
    @Scripts.Render("~/bundles/bootstrap")    

	<style type="text/css">
		.nav>li>a {
			color: white;
		}
        /*navigator css height*/
        .blog-masthead .navbar-fixed-top .container {
            line-height: 60px;
            height:60px;
            font-size: 16px;
            font-family: 'Microsoft YaHei',sans-serif;
            margin-bottom: 30px;
        }
        .blog-nav {
            padding:10px 0px;
        }
        .blog-nav .active::after {
            bottom:-10px;
        }
        .navbar-header {
            margin: 5px;
        }

        /*图片轮播*/
        .carousel-control {
            background: #222 none repeat scroll 0 0;
            border: 3px solid #fff;
            border-radius: 23px;
            color: #fff;
            font-size: 30px;
            font-weight: 100;
            height: 40px;
            left: 15px;
            line-height: 30px;
            margin-top: -20px;
            opacity: 0.5;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 40px;
        }
        .carousel-control.right {
            left: auto;
            right: 15px;
        }
        .carousel-control.left {
            left: 15px;
            right: auto;
        }
	</style>
</head>
<body>   
    <div class="blog-masthead navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="../../assets/haima_logo.png" style="height: 39px; width: 72px; margin: 5px 0px; margin-right: 20px;" />
            </div>
            <nav class="blog-nav" id="navdaohang">
                <a class="blog-nav-item @ViewBag.notice" id="notcie" href="~/home/notice"><strong>通知</strong></a>
                <a class="blog-nav-item @ViewBag.contact" id="contact" href="~/home/contact"><strong>经销商通讯录</strong></a>
                @*<a class="blog-nav-item @ViewBag.dudaoPictureUpload" id="dudaoPictureUpload" href="~/home/dudaoPictureUpload"><strong>督导拍照上传</strong></a>
                <a class="blog-nav-item @ViewBag.dudaolog" id="dudaolog" href="~/home/dudaolog"><strong>督导出差日志</strong></a>*@
                <a class="blog-nav-item @ViewBag.StaffManage" id="staffmanage" href="~/home/StaffManage"><strong>员工管理</strong></a>
                <a class="blog-nav-item @ViewBag.AreaPhotosStatistics" id="areaphotosstatistics" href="~/home/areaphotosstatistics"><strong>督导拍照上传</strong></a>
                <a class="blog-nav-item @ViewBag.AreaStatistics" id="areastatistics" href="~/home/AreaStatistics"><strong>督导出差日志</strong></a>
                @{
                    string curentUser = X3.UtilX3.GetCookie("hmToken");
                    string loginuser = curentUser.ToLower();
                    if (curentUser.ToLower() != "admin")
                    {
                        HaiMaApp db = new HaiMaApp();
                        var result = db.SuperAdmin.Where(d => d.username == curentUser && d.Status == true).FirstOrDefault();
                        if (result != null)
                        {
                            loginuser = result.memo;
                        }
                        else
                        {
                            X3.UtilX3.RemoveCookie("hmToken"); 
                        }
                    }                    
                }                
                <a class="blog-nav-item navbar-right"  href="~/account/logout">退出</a>
                <a class="glyphicon glyphicon-user blog-nav-item navbar-right" style="color:#666; "> @loginuser</a>
            </nav>
</div>
    </div>
    <div class="container body-content" style="margin-top:20px;">
        <div ></div>
        @RenderBody()
        <hr />
        <footer style="text-align:center;">
            <p>&copy; @DateTime.Now.Year - 海马APP后台管理系统</p>
        </footer>
    </div>
        @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {

            //page disabled add by Lee 20150720 
            $("#badoopager a").each(function () {
                if ($(this).attr("disabled") == "disabled")
                    $(this).css("color", "#888").css("border", "2px #f0f0f0 solid ").css("a:hover", "2px #f0f0f0 solid");
            });

            //menu active add by Lee 20150724            
            var requestUrl = window.location.href.toLowerCase();
            if (requestUrl.indexOf("photosdetail") > -1 || requestUrl.indexOf("superviserphotosstatistics") > -1) {
                $("#areaphotosstatistics").addClass("active");
            }
            else if (requestUrl.indexOf("triplogdetail") > -1 || requestUrl.indexOf("superviserstatistics") > -1) {
                $("#areastatistics").addClass("active");
            }
        })

    </script>
    
</body>


</html>
