@using Webdiyer.WebControls.Mvc
@using X3
@model  PagedList<TakePictureUpload_dudao>
@{
    ViewBag.Title = "督导拍照上传";
    ViewBag.dudaoPictureUpload = "active";
}
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<div class="row">
    @using (Html.BeginForm("dudaoPictureUpload", "home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-inline" style="margin-left:10px;">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon3">店名:　　</span>
                <input type="text" name="dm" class="form-control" placeholder="@ViewBag.dm" aria-describedby="sizing-addon3" />
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon4">主项目:　</span>
                <select id="zhuxm" name="zhuxm" class="form-control">
                    <option value="0">--请选择--</option>
                    <option value="展厅布置">展厅布置</option>
                    <option value="营销活动">营销活动</option>
                    <option value="培训会议">培训会议</option>
                    <option value="广宣资料">广宣资料</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">子项目:　</span>
                <select id="zixm" name="zixm" class="form-control"><option value="0">--请选择--</option></select>
            </div>
        </div>
        <div class="form-inline" style="margin:10px;">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon5">开始时间:</span>
                <input type="text" name="starttime" id="starttime" class="form-control" aria-describedby="sizing-addon5" value="@ViewBag.starttime" />
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon6">结束时间:</span>
                <input type="text" name="endtime" id="endtime" class="form-control" aria-describedby="sizing-addon6" value="@ViewBag.endtime" />
            </div>
            <input type="submit" class="form-control" value="搜索" />
            @Html.ActionLink("导出excel", "dudaoPictureUploadToExcel", new { dm = @ViewBag.dm, zhuxm = @ViewBag.zhuxm, zixm = @ViewBag.zixm, starttime = @ViewBag.starttime, endtime = @ViewBag.endtime }, new { @class = "btn btn-default", @role = "button" })
        </div>
    }
    <table class="table table-striped table-hover">
        @*<caption>督导拍照上传</caption>*@
        <thead>
            <tr>
                <th>店名</th>
                <th>主项目</th>
                <th>子项目</th>
                <th>地址</th>
                <th>描述</th>
                <th>日期</th>
                <th>督导</th>
                <th>图片</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.dianming</strong></td>
                    <td>@item.mainproject</td>
                    <td>@item.childproject</td>
                    <td>@item.position</td>
                    <td>@item.description</td>
                    <td>@item.riqi.ToDateString()</td>
                    <td>@item.DuDaoMingZi</td>
                    @*<td><a tabindex="0" role="button" data-placement="left" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<img src='../UploadImages/@item.picname' />" ><img title="点击看大图" src="../UploadImages/@item.picname" style="max-height:60px;" /></a></td>*@
                    <td>
                        <a tabindex="0" role="button" data-toggle="modal" data-target="#myModal@{@item.id}"><img title="点击看大图" src="../../UploadImages/@item.picname" style="width:80px;height:60px;" /></a>
                        <div class="modal fade" id="myModal@{@item.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img style="max-width:570px;" src="../../UploadImages/@item.picname">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a style="cursor:pointer;" onclick="depic(@item.id)">删除</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <div style="float:left;padding:10px 0">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条</div>
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pn", ShowPageIndexBox = true, CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "badoopager" })<span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span><span class=\"current\"></span>
    </div>
</div>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $("#starttime,#endtime").datepicker();

        $("#zhuxm").val(@ViewBag.zhuxm);
        $("#zixm").val(@ViewBag.zixm);
    })
    function depic(cid) {
        if(confirm("确定删除？"))
        {
            var postdata = {id:cid};
            $.ajax({
                type: "post",
                url: "DeleteTakePicture",
                data: postdata,
                dataType: "json",
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
    $("#zhuxm").change(function(){
        var mainid = $(this).val();
        if(mainid <1)
            return false;
        var childids =[];

        switch(mainid)
        {
            case "展厅布置":
                childids = ["物料","展车", "广告机", "其他"];
                break;
            case "营销活动":
                childids = ["车展", "中篷车", "县镇行动", "上市活动", "日常推广", "其他"];
                break;
            case "培训会议":
                childids = ["区域会议", "单店会议", "培训", "其他"];
                break;
            case "广宣资料":
                childids =["发票照片", "投放照片", "其他"];
                break;
            case "其他":
                childids = ["其他"];
                break;
        }
        $("#zixm option:gt(0)").remove();
        for (var  i in childids) {
            $("#zixm").append($("<option/>").text(childids[i]).attr("value",childids[i]));
        }
    })
</script>